[submodule "Utils"]
	path = Utils
	url = https://github.com/McCoyGroup/McUtils.git
[submodule "Coordinerds"]
	path = Coordinerds
	url = https://github.com/McCoyGroup/Coordinerds.git
[submodule "Molecools"]
	path = Molecools
	url = https://github.com/McCoyGroup/Molecools.git
